@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* CABEÇALHO */

header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    box-shadow: 0px 0px 8px #005555;
}

.logo-header img {
    margin: 1em 0;
    width: 150px;
    height: 100px;
}

.menubar {
    color: #084949
}

nav {
    display: none;
}

nav ul li {
    list-style: none;
    padding: .5em;
}


nav ul li a {
    text-decoration: none;
    color: #4a787d;
    font-weight: 500;
}

/* SERVIÇOS FHM */

.section-a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4em;
}

.section-a h1  {
    font-size: 2.2em;
    text-align: center;
    color: #005555;
    text-shadow: 2px 2px 8px #00555572;
    margin-bottom: 2em;
}

.inline-box {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    margin-bottom: 2em;
    background-color: #00555509;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #005555;
}

#box h3 {
    text-align: center;
    margin-bottom: 1em;
    color: #149191;
    text-transform: uppercase;
}

.img {
    opacity: .9;
    border-radius: 8px;
    margin: 1em 0;
    background-color: red;
    max-width: 300px;
    width: 280px;
    height: 280px;
    margin-bottom: 1em;
}

#img-servicos1 {
    background-image: url(../img/construcao.jpg);
    background-size: cover;
    background-position: center center;
}

#img-servicos2 {
    background-image: url(../img/eletrica.jpg);
    background-size: cover;
    background-position: center center;
}

#img-servicos3 {
    background-image: url(../img/adm.jpg);
    background-size: cover;
    background-position: center center;
}

#img-servicos4 {
    background-image: url(../img/engenharia.jpg);
    background-size: cover;
    background-position: center center;
}

#img-servicos5 {
    background-image: url(../img/logistica.jpg);
    background-size: cover;
    background-position: center center;
}

#img-servicos6 {
    background-image: url(../img/incendio.webp);
    background-size: cover;
    background-position: center center;
}

#img-servicos7 {
    background-image: url(../img/informatica.jpg);
    background-size: cover;
    background-position: center center;
}

/* OBJETIVO */

.section-b {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4em;
}

.mission h1 {
    text-shadow: 0px 0px 8px  #0055555d;
    font-size: 2.2em;
    text-align: center;
    text-transform: uppercase;

    color: #134C55;
    margin-bottom: .5em;
}

.mission p {
    padding: 1em;
    line-height: 1.5em;
    color: rgb(64, 61, 61);
}

/* BTN ORÇAMENTO */

.section-c {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    
}

.section-c button {
    font-size: 1.2em;
    padding: 1em;
    margin-bottom: 3em;
    border: 0;
    border-radius: 20px;
    background-color: #005555;
    color: white;
    font-weight: 500;
}

/* RODAPE */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #00555527;
    
}

.logo-footer img {
    margin: 1em 0;
    width: 150px;   
    height: 100px;
}

.text-footer {
    margin-bottom: 1em;
}

.text-footer h4 {
    color: #005555;
}

.text-footer a {
    color: #033232;
    text-decoration: none;
}


/* BANNER */

.img-banner {
    background-image: url(../img/man-5583034_1920-removebg-preview.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    max-height: 768px;
    height: 500px;
}

.text-banner h1 {
    color: #005555;
    margin: 1em 0;
}

.text-banner p {
    font-size: 1.1em;
    line-height: 1.5em;
    color: rgb(64, 61, 61);
}

.section-d {
    height:100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 4em;
}


