@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:1366px) {
    header {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        padding: 1em;
    }

    .logo-header img {
        width: 130px;
        height: 80px;
        margin: 0;
    }

    .menubar {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul li {
        margin: 0;
        display: inline-block;
    }

}

@media screen and (min-width: 1366px) {
    header {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        padding: 1em;
    }

    .logo-header img {
        width: 120px;
        height: 80px;
        margin: 0;
    }

    .menubar {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul li {
        margin: 0;
        display: inline-block;
    }
    
    nav ul li a {
        font-size: 1.2em;
        transition: .2s;
    }

    nav ul li:hover {
        color: #2ce5e5;
        transform: scale(1.1);
    }

    nav ul li a:hover {
        color: #2ce5e5;
    }

}